.actionButton__body {
  height: 36px;
  min-width: 105px;
  padding: 8px 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: white;
  background-color: #53C6D1;
  cursor: pointer;
}